* @jheer @domoritz

/packages/server/duckdb-server-rust/ @domoritz
/packages/server/duckdb-server-go/ @derekperkins
/packages/server/duckdb-server/ @dangotbanned
/packages/vgplot/widget/ @dangotbanned
/packages/vgplot/vgplot-python/ @dangotbanned
/pyproject.toml @dangotbanned
