.DS_Store
.mosaic
.duckdb
.ipynb_checkpoints
.idea
dev/specs
docs/.vitepress/cache
docs/.vitepress/dist
node_modules
**/dist
**/test-output
**/__pycache__
**/.ruff_cache
**/.pytest_cache
**/.mypy_cache
**/.coverage
**/.venv
**/tsconfig.tsbuildinfo
