.DS_Store
.mosaic
.duckdb
.ipynb_checkpoints
docs/.vitepress/cache
docs/.vitepress/dist
node_modules
packages/*/dist
packages/*/test-output
**/__pycache__
**/.ruff_cache
**/.pytest_cache
**/.mypy_cache
**/.coverage
**/.venv
transitionFolder

# Virtual environment
venv/
.env/

# Conda environment
conda-env/

# Python cache
__pycache__/
*.pyc

# Test cache
.pytest_cache/
.coverage

# Python API Generated classes
packages/schema_wrapper/generated_classes.py
