body { font-family: system-ui, sans-serif; }

h1 { font-size: 16px; }

label { margin-right: 0.5em; }

.concat-horizontal {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}
