[project]
name = "mosaic-widget"
description = "A Jupyter widget for Mosaic"
dynamic = ["version"]
readme = "README.md"
requires-python = ">=3.10"
dependencies = [
  "anywidget>=0.9.0",
  "duckdb>=1.1.2",
  "pyarrow"
]

[project.urls]
homepage = "https://github.com/uwdata/mosaic"

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[tool.hatch.build]
only-packages = true
artifacts = [
  "mosaic_widget/static/"
]

[dependency-groups]
dev = [
  "jupyterlab>=4.2.5",
  "pandas",
  "pyyaml",
  "ruff>=0.6.2"
]

[tool.hatch.version]
path = "package.json"
pattern = "\"version\": \"(?P<version>.+?)\""
