:root {
  --vp-c-brand-lighter: #e34e65;
  --vp-c-brand-light: #d5446d;
  --vp-c-brand: #c43c75;
  --vp-c-brand-dark: #912b81;
  --vp-c-brand-darker: #701f81;
}

.VPFooter a {
  text-decoration: underline dotted;
}