name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  node:
    name: Test in Node

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"

      - name: Install Node dependencies
        run: npm ci

      - run: npm run lint
      - run: npm run build
      - run: npm run test

  python:
    name: Test in Python

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - uses: astral-sh/setup-uv@v6
        with:
          version: ">=0.5.0"
          enable-cache: true
          cache-dependency-glob: |
            uv.lock
            **/pyproject.toml

      - name: Format and lint
        run: |
          uv run ruff check
          uv run ruff format --check

      - name: Build server
        run: uv build --package duckdb-server

      - name: Build and test server
        run: |
          cd packages/server/duckdb-server

          uv build
          uv run --group dev mypy
          uv run --group dev pytest --cov-report=term-missing --color=yes --cov=pkg
      
      - name: Build and test widget
        run: |
          cd packages/vgplot/widget
          
          # Mock the presence of the static files which would be generated by `npm run build`.
          # Since we are running pure Python tests, we don't need the actual anywidget dist files.
          mkdir -p mosaic_widget/static && touch mosaic_widget/static/index.js mosaic_widget/static/index.css

          uv build
          uv run --group dev mypy
          uv run --group test pytest --cov-report=term-missing --color=yes --cov=mosaic_widget

  rust:
    name: Test in Rust

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt
          cache: true
          cache-workspaces: |-
            ./packages/server/duckdb-server-rust

      - name: Format
        run: cargo fmt --manifest-path=./packages/server/duckdb-server-rust/Cargo.toml -- --check
      - name: Clippy
        run: cargo clippy --manifest-path=./packages/server/duckdb-server-rust/Cargo.toml --all -- -D warnings
      - name: Test
        run: cargo test --manifest-path=./packages/server/duckdb-server-rust/Cargo.toml --verbose

  go:
    name: Test in Go

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: '1.24'
          cache-dependency-path: ./packages/server/duckdb-server-go/go.sum

      - name: Build
        run: go build -tags=duckdb_arrow -v ./...
        working-directory: ./packages/server/duckdb-server-go

      - name: Test
        run: go test -tags=duckdb_arrow -v ./...
        working-directory: ./packages/server/duckdb-server-go

      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: ./packages/server/duckdb-server-go
