name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  node:
    name: Test in Node

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"

      - name: Install Node dependencies
        run: npm ci

      - run: npm run lint
      - run: npm run build
      - run: npm run test

  python:
    name: Test in Python

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5
        with:
          version: ">=0.5.0"
          enable-cache: true
          cache-dependency-glob: "**/pyproject.toml"

      - name: Format and lint
        run: |
          uv run ruff check
          uv run ruff format --check

      - name: Build widget
        run: uv build --package duckdb-server

      - name: Build and test server
        run: |
          cd packages/duckdb-server

          uv build
          uv run mypy
          uv run --with pytest-cov pytest --cov-report=term-missing --color=yes --cov=pkg

  rust:
    name: Test in Rust

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Rust
        uses: actions-rust-lang/setup-rust-toolchain@v1
        with:
          components: clippy, rustfmt
          cache: true
          cache-workspaces: |-
            ./packages/duckdb-server-rust

      - name: Format
        run: cargo fmt --manifest-path=./packages/duckdb-server-rust/Cargo.toml -- --check
      - name: Clippy
        run: cargo clippy --manifest-path=./packages/duckdb-server-rust/Cargo.toml --all -- -D warnings
      - name: Test
        run: cargo test --manifest-path=./packages/duckdb-server-rust/Cargo.toml --verbose
