name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

jobs:
  node:
    name: Test on Node

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          cache: "npm"

      - name: Install Node dependencies
        run: npm ci

      - run: npm run lint
      - run: npm run build
      - run: npm run test

  python:
    name: Test in Python

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version-file: ".python-version"
          cache: "pip"
          cache-dependency-path: "**/pyproject.toml"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install hatch

      - name: Build and lint Widget
        run: |
          cd packages/widget
          hatch build
          hatch fmt --check

      - name: Build, lint, and test Server
        run: |
          cd packages/duckdb-server
          hatch build
          hatch fmt --check
          hatch run test:cov

  rust:
    name: Test in Rust

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rust-src, rustfmt
      - name: Cache
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}

      - name: Lint
        working-directory: ./packages/duckdb-server-rust
        run: |
          cargo fmt -- --check
          cargo clippy --all -- -D warnings
      - name: Test
        working-directory: ./packages/duckdb-server-rust
        run: cargo test --verbose
